/* 
    Document   : loginCss
    Created on : Apr 18, 2012, 11:50:51 PM
    Author     : Daud
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: #fff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    background-image: url("../images/blue_img.PNG");
}

.main-content{
    background-color: #AFAFAF;
    margin: 50px;
    height: 500px;
    width: 85%;
    -moz-border-radius:  20px 20px 0 0;
}
.header {
    -moz-border-radius:  20px 20px 0 0;
    position: relative;
    background-color: #ffffff;
    color:blue;
    padding: 5px;
    height: 90.5px;
    margin: 0px 0px 10px 0;
    box-shadow:inset 0px 0px 20px 0px  #C8C8C8;
    -moz-box-shadow:inset 0px 0px 20px 0px  #C8C8C8;
    -webkit-box-shadow:inset 0px 0px 20px 0px  #C8C8C8;
    background-image: url("logo.jpg");
}
.login-panel{
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 28px;
/*    padding: 50px;*/

}
.footer{
    position: relative;
    background-color: #ff99ff;
    color:blue;
    padding: 5px;
    height: 70px;
    margin: 0px 0px 0px 0;
    -moz-border-radius: 0 0 20px 20px ;
    font-style: normal;
    font-weight: bolder;


    /*    background-image: url("../images/blue_img.PNG");*/

}