<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>change -pass</title>
    </h:head>
    <h:body>
     
        <ui:composition template="counter.xhtml">
            <ui:define name="contents">
                <h:form>
                    <p:panel header="Change Your password Here, All fields are required!!">
                        <h:form>
                            <p:growl showDetail="true" life="600" autoUpdate="true"/>
                            <h:panelGrid columns="2">
                                <h:outputLabel value="Current Password"/>
                                <p:password value="#{loginManagedBeanController.oldPass}" required="true"/>
                                <h:outputLabel value="New Password"/>
                                <p:password value="#{loginManagedBeanController.newPass}" required="true"/>
                                <h:outputLabel value="Confirm Password"/>
                                <p:password value="#{loginManagedBeanController.confirmPass}" required="true"/>
                                <h:commandButton value="Update Password" action="#{loginManagedBeanController.checkEnteries}"/>
                            </h:panelGrid>
                        </h:form>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

