<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>-clear -page</title>
    </h:head>
    <h:body>
     
        <ui:composition template="both.xhtml">
            <ui:define name="contents">
                <h:form>
                    <p:panel header="Clear Debtors Here by selecting their company name or patient's name">
                        <h:form>
                            <h:panelGrid columns="3">
                                <h:outputLabel value="Company / Customer's Name"/>
                                <p:selectOneMenu value="#{creditAndPaymentController.compnayName}">
                                    <f:selectItem itemLabel="--select one--"/>
                                    <f:selectItems value="#{creditAndPaymentController.creditSelectItems}"/>
                                </p:selectOneMenu>
                                <h:commandButton value="Clear" action="#{creditAndPaymentController.clearCompanies}"/>
                            </h:panelGrid>
                        </h:form>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

