<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>stock -only page</title>
    </h:head>
    <h:body>
        <h:form style="text-align: right">
            #{loginManagedBeanController.username} || <p:commandLink value="[Log Out]" action="#{loginManagedBeanController.logoutPage}"/>
        </h:form>
      
        <p:layout style="min-width:400px;min-height:200px;">
            <p:layoutUnit position="north">
                <div style="background-color: #000000; top: 0; height: 110px; left: 0; padding: 0;">
                    <h:form>
                        <p:poll update="heada" interval="1" listener="#{loginManagedBeanController.handleDateAndTime()}"/>
                        <h:panelGrid id="heada" columns="6" style="color: white; font-size: 13px; font-weight: bold" cellspacing="10" cellpadding="10">
                            <h:outputText  value="Current User: "/>
                            <h:outputText value="#{loginManagedBeanController.username}" style="color: aqua; font-weight: bold"/>
                            <h:outputText value="Time: "/>
                            <h:outputText value="#{loginManagedBeanController.time}" style="color:yellow"/>
                            <h:outputText value="Date: "/>
                            <h:outputText value="#{loginManagedBeanController.dte}" style="color: yellow"/>
                        </h:panelGrid>
                    </h:form> 
                </div>
            </p:layoutUnit>
            <p:layoutUnit position="west" size="300" header="User Options" collapsible="true" resizable="true">
                <p:accordionPanel style="width: 300px ;padding-left: 20px; padding-top: 30px">
                    <p:tab title="Multi-user Options">
                        <h:form>
                            <ul>
                                <li><h:commandLink value="Take Stock" action="stock_drug_2.xhtml"/></li>
                                <br/>
                                <li><h:commandLink value="change Password" action="change_3.xhtml"/></li>
                                <br/>
                                <li><h:commandLink value="Drugs Returned By Customers" action="patient_3.xhtml"/></li>
                                <br/>
                                <li><h:commandLink value="Drugs Returned to Suppliers" action="supplier_2.xhtml"/></li>
                            </ul>
                        </h:form>
                    </p:tab>
                </p:accordionPanel>
            </p:layoutUnit>
            <p:layoutUnit position="center" resizable="true">
                <ui:insert name="contents">
                    Welcome #{loginManagedBeanController.username}
                </ui:insert>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

