<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>-credit -page</title>
    </h:head>
    <h:body>
        <ui:composition template="both.xhtml">
            <ui:define name="contents">
                <h:form>
                    <p:panel header="Please enter customers credit information here!!">
                        <h:form>
                            <p:growl showDetail="true" life="500" autoUpdate="true"/>
                            <h:panelGrid columns="2">
                                <h:outputLabel value="Company/Customer's Name:"/>
                                <p:inputText value="#{creditAndPaymentController.compnayName}" />
                                <h:outputLabel value="Drug Name:"/>
                                <p:selectOneMenu value="#{creditAndPaymentController.drugName}" >
                                    <p:ajax listener="#{creditAndPaymentController.checkDrugQuantity}" event="change" update="qty1 price1"/>
                                    <f:selectItem itemLabel="--select one--"/>
                                    <f:selectItems value="#{creditAndPaymentController.counterSelectItems}"/>
                                </p:selectOneMenu>
                                <h:outputLabel value="Drug Quantity at Stock:"/>
                                <h:outputText value="#{creditAndPaymentController.t_qty}" id="qty1"/>
                                <h:outputLabel value="Price per Drug Is:"/>
                                <h:outputText value="#{creditAndPaymentController.s_price}" id="price1"/>
                                <h:outputLabel value="Quantity:"/>
                                <p:inputText value="#{creditAndPaymentController.qty}">
                                    <p:ajax listener="#{creditAndPaymentController.processDrugPrice}" event="keyup" update="cost1"/>
                                </p:inputText>
                                <h:outputLabel value="Cost:"/>
                                <h:outputText value="#{creditAndPaymentController.cost}" id="cost1"/>
                                <h:commandButton value="Add" action="#{creditAndPaymentController.addToList}"/>
                            </h:panelGrid>
                        </h:form>
                        <f:view>
                            <h:form id="prtt">
                                <h1><h:outputText value="List"/></h1>
                                <p:dataTable value="#{creditAndPaymentController.listOfCreditDrugses}" var="item">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Company Name"/>
                                        </f:facet>
                                        <h:outputText value="#{item.companyName}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Drug Name"/>
                                        </f:facet>
                                        <h:outputText value="#{item.drugName}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Quantity"/>
                                        </f:facet>
                                        <h:outputText value="#{item.quantity}"/>
                                        <f:facet name="footer">
                                            <h:outputText value="#{creditAndPaymentController.total_qty}"/>
                                        </f:facet>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Cost"/>
                                        </f:facet>
                                        <h:outputText value="#{item.cost}"/>
                                        <f:facet name="footer">
                                            <h:outputText value="#{creditAndPaymentController.total_cost}"/>
                                        </f:facet>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Date Bought"/>
                                        </f:facet>
                                        <h:outputText value="#{item.dateBought}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Status"/>
                                        </f:facet>
                                        <h:outputText value="#{item.status}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </f:view>
                        <h:panelGrid columns="2">
                            <h:commandButton value="Save" action="#{creditAndPaymentController.processInformation}" rendered="#{creditAndPaymentController.showSave}"/>
                            <h:commandButton value="Clear" action="#{creditAndPaymentController.clear}"/>
                            <p:commandButton value="print" rendered="#{creditAndPaymentController.showPrint}">
                                <p:printer target="prtt" />
                            </p:commandButton>
                        </h:panelGrid>
                    </p:panel>
                    <p:panel header="Debtors Of Kasams Pharmacy">
                        <f:view>
                            <h:form>
                                <p:dataTable value="#{creditAndPaymentController.totalCreditOwners}" var="item" id="cred2">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Company Name"/>
                                        </f:facet>
                                        <h:outputText value="#{item.companyName}"/>
                                    </p:column>

                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Drug Name"/>
                                        </f:facet>
                                        <h:outputText value="#{item.drugName}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Quantity"/>
                                        </f:facet>
                                        <h:outputText value="#{item.quantity}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Cost"/>
                                        </f:facet>
                                        <h:outputText value="#{item.cost}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Date Bought"/>
                                        </f:facet>
                                        <h:outputText value="#{item.dateBought}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Status"/>
                                        </f:facet>
                                        <h:outputText value="#{item.status}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </f:view>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

