<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>-daily -report</title>
    </h:head>
    <h:body>
        <ui:composition template="both.xhtml">
            <ui:define name="contents">
                <h:form>
                    <p:panel header="Please Generate Daily Report Here!!">
                        <h:form>
                            <h:panelGrid columns="3">
                                <h:outputLabel value="Today's Date:"/>
                                <p:calendar value="#{stockController.salesDate}" required="true"/>
                                <h:commandButton value="Process" action="#{stockController.maintainPage}"/>
                            </h:panelGrid>
                        </h:form>
                    </p:panel>
                    <f:view>
                        <h:form id="ffof">
                            <h2><h:outputText value="Report Generated for, On #{stockController.salesDate}"/></h2>
                            <p:dataTable value="#{stockController.allSalesByDay}" var="item" id="d">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Drug Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.drugName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Drug Quantity"/>
                                    </f:facet>
                                    <h:outputText value="#{item.drugQuantity}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="#{stockController.daily_quantity}"/>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Selling Price Amount"/>
                                    </f:facet>
                                    <h:outputText value="#{item.drugPrice}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="#{stockController.daily_amount}"/>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Cost Price Amount"/>
                                    </f:facet>
                                    <h:outputText value="#{item.costAmount}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="#{stockController.single_cost_amount}"/>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Sales Date"/>
                                    </f:facet>
                                    <h:outputText value="#{item.salesDate}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                                <f:facet name="footer">
                                    <h:outputText value="Profit Gotten is: #{stockController.single_profit}" />
                                </f:facet>
                            </p:dataTable>
                            <p:commandButton value="Print" type="button" icon="ui-icon-print" rendered="#{stockController.print_report}">
                                <p:printer target="ffof"/>
                            </p:commandButton>
                        </h:form>
                    </f:view>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

