<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Debtors -page</title>
    </h:head>
    <h:body>
        <ui:composition template="admin.xhtml">
         
            <ui:define name="contents">
                <h:form id="form1">
                    <p:growl showDetail="true" life="200" />
                    <p:panel header="Enter Debtor Information Here!!" toggleable="true">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="Company / Debtor's Name:"/>
                            <p:inputText value="#{debtorsController.debtors.companyName}" required="true" requiredMessage="Company or Debtor's Name is needed please enter::"/>
                            <h:outputLabel value="Item Name:"/>
                            <p:inputText value="#{debtorsController.debtors.itemName}" required="true" requiredMessage="Item is missing please enter it!!"/>
                            <h:outputLabel value="Unit Price Of item:"/>
                            <p:inputText value="#{debtorsController.unit_p}" required="true" requiredMessage="Unit price is missing"/>
                            <h:outputLabel value="Quntity Supplied:"/>
                            <p:inputText value="#{debtorsController.qty}" required="true" requiredMessage="Quantity is missing please"/>
                            <h:outputLabel value="Part Payment:"/>
                            <p:inputText value="#{debtorsController.part_pay}" required="true" requiredMessage="Part is missing"/>
                            <h:outputLabel value="Total Payment:"/>
                            <h:outputText value="#{debtorsController.total}"/>
                            <h:outputLabel value="Balance Remaining:"/>
                            <h:outputText value="#{debtorsController.balance_rem}"/>
                            <h:commandButton value="Save" action="#{debtorsController.saveDebtorsData}"/>
                        </h:panelGrid>
                    </p:panel>
                    <f:view>
                        <h:form>
                            <p:dataTable value="#{debtorsController.findDebtorsGetAll}" var="item" paginator="true" rows="10" sortBy="#{item.companyName}">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Company Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.companyName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Item Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.itemName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Unit Price"/>
                                    </f:facet>
                                    <h:outputText value="#{item.unitPrice}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Quantity Supplied"/>
                                    </f:facet>
                                    <h:outputText value="#{item.qtySupplied}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="#{debtorsController.t_qty}"/>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Total Price"/>
                                    </f:facet>
                                    <h:outputText value="#{item.totalPrice}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="#{debtorsController.t_amt}"/>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Part Payment"/>
                                    </f:facet>
                                    <h:outputText value="#{item.partPay}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="#{debtorsController.t_part_pay}"/>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Balance"/>
                                    </f:facet>
                                    <h:outputText value="#{item.balRem}"/>
                                    <f:facet name="footer">
                                        <h:outputText value="#{debtorsController.bal_rem}"/>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Date"/>
                                    </f:facet>
                                    <h:outputText value="#{item.dateBought}">
                                        <f:convertDateTime pattern="MM/dd/yyyy" />
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

