<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>- deactivate</title>
    </h:head>
    <h:body>
        <ui:composition template="admin.xhtml">
         
            <ui:define name="contents">
                <h:form>
                    <p:panel header="Please enter username In oredr to deactivate user!!">
                        <h:form>
                            <p:growl showDetail="true" life="600" autoUpdate="true"/>
                            <h:panelGrid columns="3">
                                <h:outputLabel value="Username:"/>
                                <p:inputText value="#{loginManagedBeanController.user}" required="true"/>
                                <h:commandButton value="Deactivate" action="#{loginManagedBeanController.deactivateUser}"/>
                            </h:panelGrid>
                        </h:form>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

