<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Pharmacy</title>
        <link href="resources/css/loginCss.css" type="text/css" rel="stylesheet"/>
        <meta http-equiv="Prgma" content="no-store"/>
        <meta http-equiv="Cache-Control" content="no-store"/>
        <meta http-equiv="Expires" content="-1"/>
    </h:head>
    <h:body style="background-color:  blueviolet; background-image: url(images/wave.gif)"> 
       
        <center>
            <div class="main-content">
                <div class="header">
                    <h1>PHARMASOFT FOR PHARMACIES!!</h1>
                </div>
                <div class="login-panel">
                    <center>
                        <p:panel style="width: 50%">
                            <h:form>
                                <h1><p:growl showDetail="true" life="200"/></h1>
                                <center>
                                    <p:fieldset  >
                                        <h:graphicImage value="../resources/images/login_logo.jpg" height="100" width="120" />
                                        <h:panelGrid columns="2" cellspacing="10px">
                                            <h:outputLabel value="Username"/>
                                            <p:inputText value="#{loginManagedBeanController.username}"/>
                                            <h:outputLabel value="Password"/>
                                            <p:password  value="#{loginManagedBeanController.password}"/>
                                            <h:outputLabel/>
                                            <h:panelGroup>
                                                <h:commandButton value="LOGIN"  action="#{loginManagedBeanController.validateUserCredentials}"/>
                                                <h:commandButton value="CANCEL"  type="reset" style="margin-left: 20px"/>
                                            </h:panelGroup>
                                        </h:panelGrid>
                                    </p:fieldset>
                                </center>
                            </h:form>
                        </p:panel>
                    </center>
                </div>
                <div class="footer">
                    <h:panelGrid columns="1">
                        <h:outputLabel value="Developed by Project Students."/>
                        <!--<h:outputLabel value="Tel : 0246910467 or 0574654104"/>
                        <h:outputLabel value="E-mail : team@ikernelnetworks.com"/>
                        <h:outputText value="Website : ikernelnetworks.com"/> -->
                    </h:panelGrid>
                </div>
            </div>
        </center>
        <h5 style="color: black; font-weight: bolder; text-align: center; text-transform: uppercase">(c)2014 | All Rights Reserved&trade;</h5><h5 style="color: black; font-weight: bolder; text-align: center; text-transform: uppercase">POWERED BY PROJECT STUDENTS </h5>
    </h:body>
</html>