<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>loading Page</title>
        <meta http-equiv="Refresh" content="1;faces/index.xhtml"/>
    </h:head>
    <h:body >
       <center>
           <h:panelGroup layout="block" style="margin-top: 200px" >
                <h:form>
                    <h:graphicImage value="images/ajax-loader.gif" alt="LOADING.....PLEASE WAIT....."/>
                </h:form>
            </h:panelGroup>
        </center>
    </h:body>
</html>

