<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>-patient</title>
    </h:head>
    <h:body>
        <ui:composition template="both.xhtml">
          
            <ui:define name="contents">
                <h:form>
                    <p:panel header="Please Enter Customers returned drugs here!!">
                        <h:form>
                            <h:panelGrid columns="2">
                                <h:outputLabel value="Drug Name:"/>
                                <p:inputText value="#{stockController.drugsReturned.drugName}" required="true"/>
                                <h:outputLabel value="Quantity:"/>
                                <p:inputText value="#{stockController.drugsReturned.quantity}" required="true"/>
                                <h:outputLabel value="Reason"/>
                                <p:inputTextarea value="#{stockController.drugsReturned.reason}" required="true"/>
                                <h:commandButton value="Save" action="#{stockController.patietntsDrugsSave}"/>
                            </h:panelGrid>
                        </h:form>
                    </p:panel>
                    <f:view>
                        <h:form>
                            <h1><h:outputText value="Drugs Returned By Customers"/></h1>
                            <p:dataTable value="#{stockController.allDrugsByCustomers}" var="item" paginator="true" rows="10">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Drug Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.drugName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        Quantity
                                    </f:facet>
                                    <h:outputText value="#{item.quantity}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Reason"/>
                                    </f:facet>
                                    <h:outputText value="#{item.reason}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Date Returned"/>
                                    </f:facet>
                                    <h:outputText value="#{item.dateReturned}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

