<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>-trails -user</title>
    </h:head>
    <h:body>
        <ui:composition template="admin.xhtml">
          
            <ui:define name="contents">
                <h:form>
                    <p:panel header="Date And Times Of Users Work At this Pharmcy Premises!!@">
                        <f:view>
                            <h:form>
                                <p:dataTable value="#{loginManagedBeanController.allUserTrails}" var="item" paginator="true" rows="15">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Action Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.actionId}"/>
                                    </p:column>
                                    <p:column filterBy="#{item.username}" filterMatchMode="startsWith" footerText="startsWith">
                                        <f:facet name="header">
                                            <h:outputText value="Username"/>
                                        </f:facet>
                                        <h:outputText value="#{item.username}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Action/Date/Time"/>
                                        </f:facet>
                                        <h:outputText value="#{item.actionDateTime}">
                                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Actions"/>
                                        </f:facet>
                                        <h:outputText value="#{item.actions}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </f:view>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

